<h1>Index</h1>

<a asp-controller="Home" asp-action="AddEmp">ADD EMPLOYEE</a>
<br />
<a asp-controller="Home" asp-action="DisplayEmp">DISPLAY EMPLOYEE</a>
<br />
<a asp-controller="Home" asp-action="DisplayAll">DISPLAY ALL EMPLOYEE</a>
<br />
<a asp-controller="Home" asp-action="UpdateEmp">UPDATE EMPLOYEE</a>
<br />
<a asp-controller="Home" asp-action="DeleteEmp">DELETE EMPLOYEE</a>
<br />