<h1>Display</h1>
<form method="post" asp-controller="Home" asp-action="Delete">

    <label for="Id">Enter Employee Id :</label>
    <input type="text" name="Id" />
    <br />

    <button type="submit">Submit</button>
</form>
@ViewBag.Result
