<h1>Index</h1>

<a asp-controller="Home" asp-action="AddEmp">ADD EMPLOYEE</a>
<br />
<a asp-controller="Home" asp-action="Display">DISPLAY</a>
<br />
<a asp-controller="Home" asp-action="DisplayAll">DISPLAY ALL</a>
<br />
<a asp-controller="Home" asp-action="UpdateName">UPDATE</a>
<br />
<a asp-controller="Home" asp-action="Delete">DELETE</a>
<br />